@import "utils/variables";
@import "utils/mixins";
@import "utils/placeholders";

@import "layout/header";
@import "layout/footer";

@import "pages/home";
@import "pages/pruduct-list";

@import "components/buttons";
@import "components/loader";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: $background-principal;
    font-family: 'Roboto', sans-serif;
}