@import "utils/variables";
@import "utils/mixins";
@import "utils/placeholders";

@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

@import "pages/home";
@import "pages/pruduct-list";

@import "components/buttons";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $background-principal;
}