//Main colors
$background-principal: #FFFFFF;
$background-secondary: #F6F6F6;

//Button colors
$gradient-btn-like: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
$gradient-btn: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);

//Primary colors
$theme-color: #9356DC;
$theme-color-green-light: #99E2D0;
$theme-color-green-dusky: #008766;

//header colors
$background-header-grey-light: #EAEAEA;
//Footer & text colors
$background-grey-light: #353535
