.title-section {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-secondary;
  padding-top: 39px;
  padding-bottom: 57px;
  &__reservation {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
  }
  &__decouverte {
    font-size: 1.125rem;
    font-weight: 300;
    color: $background-grey-light;
    text-align: center;
    padding-bottom:27px ;
  }
}

.tutorial {
  padding-top: 48px;
  padding-bottom: 68px;
  @media (min-width: 1024px) {
    padding-right: 12.5%;
    padding-left: 12.5%;
  }
  &__title {
    margin-top: 0;
  }

  &__steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;

    @media (min-width:1024px) {
      display: flex;
    }
  }

  &__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 72px;
    border-radius: 25px;
    margin: 25px 20px 0 32px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 1rem;

    i {
      padding-left: 34px;
      padding-right: 27px;
    }

    @media (min-width:1024px) {
      flex: 1;

      &:first-child {
        margin-left: 25px;
      }
    }

    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      position: absolute;
      top: 50%;
      left: -12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $theme-color;
      color: white;
      text-align: center;
      line-height: 26px;
      font-size: 0.88rem;
      font-weight: 500;
      transform: translateY(-50%);
    }
  }
  &__step:nth-child(3) i {
    color: $theme-color;
  }

  &__icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}

.restaurant {
  background: $background-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width:1024px) {
    &__title {
      width: 100%;
    }
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 12.5%;
    padding-left: 12.5%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  height: 251px;
  width: auto;
  margin: 17px;
  position: relative;

  @media (min-width:1024px) {
    flex: 1 0 calc(50% - 34px);
  }
  a {
    border-radius: 15px;
    text-decoration: none;
    background-color: white;
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      background-repeat: no-repeat;
      height: 170px;
      width: 100%;
    }
  }
  a:visited {
    color: initial;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 15px;
  }
  &__txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

