//Page loader principale
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  animation: hide-loader 3.5s forwards;

  &__content {
    text-align: center;
    font-family: shrikhand, sans-serif;
    font-size: 9vw;
  }

  &__dot {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dot{
  border-radius: 50%;
  background-color: black;
  margin: 10px;
  height: 25px;
  width: 25px;
  animation: bounce 1.5s infinite ease;
}

.dot--4{
  animation-delay: .4s;
}
.dot--3{
  animation-delay: .3s;
}
.dot--2{
  animation-delay: .2s;
}

@keyframes bounce {
  0%, 100% { opacity:1;}

  60% {
    transform: translateY(15px);
    opacity:.0;
  }
}

@keyframes hide-loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
    z-index: -10;
  }
}